.header_create_post {
	text-align: center;
    font-size: 44px;
}

.label_for_create_post {
	text-align: center;
	position: relative;
}


@media only screen and (max-width: 500px) {
	.label_create_post {
		text-align: center;
	}

	.create {
	     margin-left: 28%;
         display: inline-block;
	}

	.cancel {
		margin-right: 0%;
		 display: inline-block;
	}

	.actions_for_create_post {
		text-align: center;
	}

}

@media only screen and (min-width: 500px) {
    .create_new_post {
		position: relative;
		top: 280px;
		left: 80%;
	}


	.cancel, .create {
		position: relative;
		left: 80%;
		margin-top: 5%;
		margin-left: 1%;
	}
}



