.message_container {
	margin-top: 2%; 
	text-align: center;
	border: 1px solid red;
	width: 80%;
	position: relative;
	left: 10%;
}

.message_info {
   display: flex;
   flex-direction: row;
   -webkit-flex-flow: column wrap;
   justify-content: space-between;
}