.message_container {
	margin-top: 2%; 
	text-align: center;
	border: 1px solid black;
	width: 80%;
	position: relative;
	left: 10%;
}

.message_info {
   color: #F0386B;
   display: flex;
   flex-direction: row;
   -webkit-flex-flow: column wrap;
   justify-content: space-between;
}

.comments_button {
	border: none;
	color: blue;
}

.message {
	font-size: 3em;
	color: #4062BB;
}

@media only screen and (max-width: 500px) {
    .timestamp {
		display: none;
	}
}



